body {
    background-color: #fa8072;
    text-align: center;
  }
  
  input {
    margin: 100px auto 20px;
    width: 350px;
    height: 40px;
    display: block;
    text-align: center;
  }
  
  #output {
    margin-top: 20px;
    font-size: 24px;
  }
  
  #btn {
    width: 200px;
    height: 60px;
    color: #fff;
    background-color: blue;
    border-style: none;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 24px;
  }
  
  h1 {
    color: #000;
    margin-top: 50px;
  }
  